h1 {
   background-color: #18181b;
    font-size: 1.2em;
    color: #999;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }

  nav {
    background-color: #18181b;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #18181b;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #ffffff;
  }
  nav a:hover {
    color: #a372ec;

  }
  nav a.router-link-active {
    color: #039be5;
  }
  .header-bar {
    background-color: #bf94ff;
    height: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  body{
    background-color: #0e0e10;
    color:#0e0e10;
    color: #555;
  }


  