<h1>{{title}}</h1>
<nav>
    <a routerLink="catalog" routerLinkActive="active">Catalog</a>
    <a routerLink="catalog-item" routerLinkActive="active">Catalog item</a>
    <a routerLink="cart" routerLinkActive="active">Cart</a>
    <a routerLink="userpage" routerLinkActive="active">Userpage</a>
    <a routerLink="userprofile" routerLinkActive="active">User Profile</a>
    <a routerLink="register" routerLinkActive="active">Register</a>
</nav>
<div class="header-bar"></div>
<router-outlet></router-outlet>