<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <form>
                <div class="well">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input name="searchQueryText" [(ngModel)]="searchQuery" type="text" class="form-control"
                                    placeholder="Search products...">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-outline-primary me-2"
                                        (click)="getSearchItems()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- Filter -->
            <form class="shop__filter">
                <!-- Price -->
                <h3 class="headline">
                    <span>Price</span>
                </h3>
                <div class="form-group shop-filter__price">
                    <div class="row">
                        <div class="col-xs-4">
                            <label for="shop-filter-price_from" class="sr-only"></label>
                            <input id="shop-filter-price_from" type="number" min="0" class="form-control"
                                placeholder="From" [(ngModel)]="from" name="from">
                        </div>
                        <div class="col-xs-4">
                            <label for="shop-filter-price_to" class="sr-only"></label>
                            <input id="shop-filter-price_to" type="number" min="0" class="form-control" placeholder="To"
                                [(ngModel)]="to" name="to">
                        </div>
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-block btn-default"
                                (click)="getPriceItems()">Go</button>
                        </div>
                    </div>
                </div>

                
            </form>
        </div>

        <div class="col-sm-8 col-md-9">
            

            <div class="row">
                <div id="catalogItems" *ngFor="let item of items" class="col-sm-6 col-md-4">
                    <div class="shop__thumb">
                        <a (click)="goToCatalogItemPage(item.itemID)">
                            <div class="shop-thumb__img">
                                <img src={{item.photo}} class="img-responsive" alt="...">
                            </div>
                            <h5 class="shop-thumb__title">
                                ID: {{item.itemID}}<br />
                                Seller: {{item.userID}} <br />
                                Item: {{item.itemName}} <br />
                                Description: {{item.description}} <br />
                                Price: {{item.price}} <br />
                                Stock: {{item.stock}}
                            </h5>
                            <div class="shop-thumb__price">
                                <span class="shop-thumb-price_old">$80.99</span>
                                <span class="shop-thumb-price_new">$59.99</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div> <!-- / .row -->

            <!-- Pagination -->
            <div class="row">
                <div class="col-sm-12">

                    <ul class="pagination pull-right">
                        <li class="disabled"><a href="#">«</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>

                </div>
            </div> <!-- / .row -->

        </div> <!-- / .col-sm-8 -->
    </div> <!-- / .row -->
</div>